.inputForm{
    width: 100%;
}
.inputBarBody{
    max-width: 100%;
    padding: 16px 0;
    background-color: #FFF;
    display: flex;
    border-radius: 12px;
}
.inputField{
    width: 100%;
    border: 0;
}
.inputField::placeholder{
    color: var(--navyGrey);
}
.iconBox{
    padding: 0 10px;
    cursor: pointer;
}