.bodyLayout {
  padding: 0 128px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 27.5px 0;
}
.navList ul {
  display: flex;
  gap: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1b1c20;
  align-items: center;
  justify-content: center;
}
.navList li {
  cursor: pointer;
}
.navTitle {
  font-size: 21px;
  color: var(--darkGreen);
}
.heroSection {
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.heroTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 60px;
  color: #1b1c20;
}
.heroDetails {
  max-width: 550px;
}
.heroSpan {
  color: var(--darkGreen);
}
.heroSubtext {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  margin: 29px 0;
}
.heroBtn {
  min-height: 56px;
  padding: 16px 23px;
  border: none;
  background-color: var(--darkGreen);
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: transform .2s ease;
  display: flex;
  gap: 9px;
  align-items: center;
}
.heroBtn:hover{
    transform: scale(1.1);
}
.heroBtn:focus{
    outline: none;
}
.heroImg{
    max-width: 808px;
    min-height: 500px;
    position: relative;
    bottom: 70px;
}
.heroImg img{
    width: 100%;
    
}
@media screen and (max-width: 1080px) {
    
    .heroImg{
        bottom: 0;
        top: 50px;
    }
}