
.chatMessages{
    max-width: 100%;
}
.sender{
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
}
.receiver{
    display: flex;
    justify-content: flex-start;
    padding: 10px 0;
}
.sent{
    display: inline;
    background-color: var(--lightGreen);
    border-radius: 12px;
    padding: 4px 12px;
    min-width: 200px;
    max-width: 500px;
    margin-top: 10px;
    padding: 5px;
}
.received{
    display: inline;
    background-color: #FFF;
    border-radius: 12px;
    padding: 4px 12px;
    min-width: 200px;
    padding: 5px;
}
.time{
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    gap: 5px;
    
}